html{
    scroll-behavior: smooth;
    overflow-x     : hidden;
}

body{
    margin               : 0;
    padding              : 0;
    background-color     : #2D3250;

}

h1, h2, h3, h4, h5, h6{
    margin      : 10% 0%;
    font-family : Arial, Helvetica, sans-serif;
    color       : #F6B17A;

}

p{
    color : #7077A1;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color          : #F9E8C9;
}

body #navbar nav ul{
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #F9E8C9;
    box-shadow      : 0px 4px 69px black;
}

body #navbar nav ul li{
    float: left;
}

body #navbar nav ul li a{
    display        : block;
    text-align     : center;
    padding        : 16px;
    text-decoration: none;
    color          : #F9E8C9;
}

body #navbar nav ul li a:hover{
    color          : #F9E8C9;
    text-decoration: underline;
}

body #navbar nav ul li a.active{
    background-color: #474F59;
    color           : #F9E8C9;
}

body #navbar nav ul li a.active:hover{
    color: #F9E8C9;
}

body #conteudo{
    margin: 4% 30%;
}
body #conteudo section ul li{
    font-size  : 25px;
    text-align : justify;
    color      : #acafc4;
    margin     : 2% 0;
    font-family: 'Times New Roman', serif;
    list-style-type: decimal;
}